<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marvel.example.characters">

    <application android:theme="@style/Theme.App">
        <activity android:name=".ui.CharactersActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
